<link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
<script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
<style>
	body {
		cursor: url('http://ionicframework.com/img/finger.png'), auto;
	}
	/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */

	.list .item.item-accordion {
		line-height: 38px;
		padding-top: 0;
		padding-bottom: 0;
		transition: 0.09s all linear;
	}

	.list .item.item-accordion.ng-hide {
		line-height: 0px;
	}

	.list .item.item-accordion.ng-hide-add,
	.list .item.item-accordion.ng-hide-remove {
		display: block !important;
	}
</style>

<ion-view ng-controller="BarcodeCtrl" view-title="Dashboard" name="dashboard-view">
	<ion-nav-buttons side="right">
		<button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
	</ion-nav-buttons>
	<ion-floating-button click="scanBarcode()" has-footer="false" button-color="#2AC9AA" icon="ion-plus" icon-color="#fff">
	</ion-floating-button>
	<ion-content class="padding">
		<div class="row">
			<div class="col text-center">
				<h3 class="title">Welcome {{username}}!</h3>

				<div id="container-speed" style="width: 300px; height: 200px; float: center"></div>

				<ion-list>
					<div ng-repeat="group in groups">
						<ion-item class="item-stable" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
							<i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; Group {{group.name}}
						</ion-item>
						<ion-item class="item-accordion" ng-repeat="item in group.items" ng-show="isGroupShown(group)">
							{{item}}
						</ion-item>
					</div>
				</ion-list>

			</div>
		</div>
	</ion-content>
</ion-view>
