
<ion-view ng-controller="BarcodeCtrl" view-title="Dashboard" name="dashboard-view">
	<ion-nav-buttons side="right">
		<button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
	</ion-nav-buttons>
	<ion-floating-button click="scanBarcode()" has-footer="false" button-color="#2AC9AA" icon="ion-plus" icon-color="#fff">
	</ion-floating-button>
	<ion-content class="padding">
		<div class="row">
			<div class="col text-center">
				<h3 class="title">Welcome {{username}}!</h3> This is your budget.

				<div id="container-speed" style="width: 300px; height: 200px; float: center"></div>
				<ion-list>
					<div ng-repeat="group in groups">
						<ion-item class="item-stable" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
							<i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; Group {{group.name}}
						</ion-item>
						<ion-item class="item-accordion" ng-repeat="item in group.items" ng-show="isGroupShown(group)">
							{{item}}
						</ion-item>
					</div>
				</ion-list>
			</div>
		</div>
	</ion-content>
</ion-view>
