<ion-view view-title="Public" name="dashboard-view">
  <ion-content class="padding">
    <img src="img/Round-profile-2.png" id="logo">
      <div class="list list-inset">

          <label class="item item-input">
Name:
              <input type="text"  value="            James" >
          </label>
          <div class="item range">
    Budget
    <input type="range" placeholder="Budget" name="Budget">

  </div>
      </div>
      <button class="button button-block button-positive" >save</button>

  </ion-content>
</ion-view>
